$white: white;
$dark-white: #ababab;
$light-gray: #3e3f44;
$dark-gray: #40444b;
$darker-gray: #2a2c31;
$black: black;

$border-blue: #2387a9;
$dark-blue: #13495B;

$red: red;
$yellow: yellow;
$green: greenyellow;